#footer
{
  background-color: #eee;
}
#home_block
{
  background-image: linear-gradient(#136a8a,#267871);
}
#about_block
{
  background-image: linear-gradient( #c21500,#ffc500);
  
}
.footer-link{
  text-decoration: none !important;
  color: grey; 
  line-height:10px;
}

 @media only screen and (max-width: 600px) {

    #footer_element{
      display:none;
    }
  }
